@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main: #5200ff;
  --secondary-main: #2f80ed;

  --info-main: #9e9e9e;
  --info-light: #e0e0e0;
  --info-dark: #9d99a4;
  --info-contrastText: #ffffff;

  --dark: #272525;
  --background-color: #fcfcfc;
}

/* Basic CSS reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  opacity: 1;
  line-height: 120%;
  font-size: 14px;
  line-height: 135%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5200ff;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* icons */

.lucide {
  color: #272525;
  height: 16px;
  width: 16px;
  stroke-width: 2px;
}

/* fade in effect */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Grid items (complex hover effects) */

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto -60px;
  transition: all 0.4s ease-in-out;
}

.grid-item {
  display: grid;
  align-items: flex-end;
  height: 260px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #272525;
}

.grid-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.grid-item:hover img {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.6s;
}

.footnote {
  background-color: #2725258d;
  color: #ebebeb;
  width: 100%;
  border-radius: 4px;
  padding: 2px 6px;
  position: relative;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footnote .lucide {
  color: #ebebeb;
  height: 14px;
  width: 14px;
}

@media only screen and (max-width: 1020px) {
  .main-grid {
    margin: auto 0px;
    transition: all 0.1s ease-in-out;
  }
}

@media only screen and (max-width: 680px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 0px;
  }
}
